<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    
    <ion-title >
      <h1 padding= "5px" ><img src="../assets/img/liquere.png"  width="70" height="70">Agenda de Licores</h1>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item-divider color="warning">
    <ion-title>
      Agregar Licor
    </ion-title>
  </ion-item-divider>

  <form [formGroup]="liqueurForm" (ngSubmit)="CreateRecord()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input formControlName="Quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="Price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input formControlName="Description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="CreateRecord()" [disabled]="liqueurForm.invalid" slot="end" shape="round" size="medium">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Agregar
      </ion-button>
    </ion-item>

  </form>
  <ion-item-divider color="warning">
    <ion-title>
      Lista de Licores
    </ion-title>
  </ion-item-divider>

  <ion-card *ngFor="let item of liqueurList" style="background-color:#d7d8da;">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header color="light">
        <ion-card-title ><ion-icon name="wine"></ion-icon> {{item.Name}} </ion-card-title>
        <ion-card-title><ion-icon name="logo-usd"></ion-icon> {{item.Price}}</ion-card-title>
        <ion-card-title><ion-icon name="storefront"></ion-icon>  {{item.Quantity}} unidades</ion-card-title>
        <ion-card-title><ion-icon name="information-circle"></ion-icon> Descripción: {{item.Description}}</ion-card-title>
      </ion-card-header>

      <ion-card-content  >
        <ion-card-title align="center"><strong>Acciones:</strong> </ion-card-title>
<ion-row align="center">
  
  <ion-col>
  <ion-button  shape="round" color="secondary" size="medium" (click)="EditRecord(item)">
    <ion-icon  size="medium" slot="icon-only" name="create"></ion-icon>Editar
  </ion-button>

  <ion-button shape="round" color="danger" size="medium" (click)="RemoveRecord(item.id)">
    <ion-icon size="medium" slot="icon-only" name="trash"></ion-icon>Eliminar
  </ion-button>
</ion-col></ion-row>
        

      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                <strong>
                  Editar Licor
                </strong>
                
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Nombre:</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Cantidad:</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditQuantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Precio:</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditPrice"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Descripción:</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.Description"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-row align="right"><ion-col>
        <ion-button shape="round" color="danger" size="small" (click)="item.isEdit = false">
          Cancel
        </ion-button>
    
        <ion-button  shape="round" color="success" size="small" (click)="UpdateRecord(item)">
          Update
        </ion-button>
  
      </ion-col></ion-row>
        
      
    </ng-template>
    
  </ion-card>

</ion-content>